*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor{
    display: flex;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
header{
    background-color: #0621a6;
    width: 25%;
    height: 100vh;
    padding: 50px 30px;
    position: fixed;
}
.nombre{
    color: white;
    margin: 5px;
    
}
.filtros{
    margin-top: 30px;
    padding: 30px 40px;
    width: 100%;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    color: #0621a6;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

main{
    width: 75%;
    position: absolute;
    right: 0;
}
/* .descripcion{
    background-color: #6ec388;
    padding-bottom: 10px;
    padding-top: 10px; 
}
.descripcion p {
    padding: 3px 30px;
} */
body{
    background-color: #fef6f1;
}

#cardsbox {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
#cardsbox div {
    width: 210px;
    margin: 15px;
    padding: 0.7em;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
    transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
    background-color: white;
}
#cardsbox div h4 {
    color: #63a1f3;
    padding-top: 3px;
    padding-bottom: 3px;
}
#cardsbox div .btn {
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 0.7em;
    background-color: #d7eaff;
    color: #63a1f3;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    cursor: pointer;
}
#cardsbox div:hover{
    transform: translateY(-10px);
    box-shadow: 1.25px 1.25px 10px #f5b8d2 ;
}

/* Botones dentro de la sección Bolsa de materiales -------------------------------------------------- */
#cardsbox div .btn-mr {
    width: 100%;
    border: solid #63a1f3 2px;
    border-radius: 5px;
    margin: 2px;
    padding: 0.7em;
    background-color: white;
    color: #63a1f3;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    cursor: pointer;
}
#cardsbox div .btn-cancel {
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 0.7em;
    background-color: #63a1f3;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    cursor: pointer;
}